.page {
    &.page-id-177 {
        padding-top: 150px;
    }
    .ico-single {
        .ico-link {
            text-align: center;

            img {
                margin: 0 auto;
            }
        }
        .ico-representante {
            width: 120px;
        }

        .ico-colaboradores {
            width: 55px;
        }

        .ico-distribuidoras {
            width: 120px;
        }
    }
}