.box-section-produtos {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	@media all and (max-width: 1400px){
		//background-size: contain;
	}

	&.list-produto-bg {
		position: relative;

		.img-list-produto-bg {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
			z-index: 0;
		}

		.container {
			z-index: 1;
		}
	}

	.slide-produtos {
		width: 100%;
		position: unset;

		@include media(920){
			display: flex;
			flex-direction: column;
		}

		.slick-list.draggable {
			margin-right: -50%;

			@include media(920){
				//margin: 0 -25px;
				margin: 0;
			}
		}

		.slick-slider {
			.slick-track {
				display: flex;
				align-items: center;
			}
		}

		.slick-slide {
			//width: 75%!important;
			min-width: 420px;

			@include media(920){
				min-width: 0;
			}

			&.slick-current {
				h3 {
					opacity: 1;
				}
			}
		}

		.item-slide {
			width: 100%;
			display: flex !important;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			min-height: 620px;

			@include media(920){
				min-height: 0;
				margin: 40px 0;
			}

			&.item-slide-txt {
				min-width: 500px;

				@media all and (max-width: 1420px){
					min-width: 410px;
				}

				@media all and (max-width: 1350px){
					min-width: 400px;
				}

				@include media(920){
					min-width: 0;
				}
			}

			p {
				max-width: 240px;
				width: 100%;
				margin: 0 auto;
				display: block;
				text-align: center;
				color: #FFFFFF;

				@include media(920){
					max-width: 100%;
					text-align: left;
				}
			}

			.img-produto {
				width: 100%;
				height: 440px;

				@media all and (max-width: 1400px){
					//height: 280px;
				}

				@include media(920){
					height: auto;
					max-width: 400px;
				}

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

			h3 {
				text-align: center;
				opacity: 0;
				@include animacao;

				a {
					display: flex;

					span {
						font-family: $font-family;
						font-weight: $semi-bold;
						font-size: 20px;
						line-height: 68px;
						color: #FFFFFF;
						background-image: url('../images/detalhe-nome-produto.png');
						background-repeat: repeat-x;
					}

					&:before, &:after {
						content: '';
						width: 25px;
						height: 68px;
						display: inline-block;
					}

					&:before {
						background-image: url('../images/detalhe-nome-produto-left.png');
					}

					&:after {
						background-image: url('../images/detalhe-nome-produto-right.png');
					}
				}

				@include media(920){
					opacity: 1;
				}
			}
		}

		.slick-arrow {
			width: 50px;
			height: 50px;
			background-color: transparent;
			position: absolute;
			bottom: 0;
			text-indent: -10000px;
			cursor: pointer;
			z-index: 999;
			@include animacao;

			&.slick-prev {
				left: 0;
				background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32.2031 40.4183L34.7091 37.4303L19.8173 24.9471L34.7091 12.4639L32.2031 9.47596L13.7476 24.9471L32.2031 40.4183ZM25.0529 0C38.8305 0 50 11.1694 50 24.9471C50 38.7248 38.8305 49.893 25.0529 49.893C11.2752 49.893 0.106972 38.7248 0.106972 24.9471C0.106972 11.1694 11.2752 0 25.0529 0Z' fill='white'/%3E%3C/svg%3E%0A");

				@include media(920){
					left: 20px;
				}
			}

			&.slick-next {
				right: 0;
				background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7969 40.4183L15.2909 37.4303L30.1827 24.9471L15.2909 12.4639L17.7969 9.47596L36.2524 24.9471L17.7969 40.4183ZM24.9471 0C11.1695 0 0 11.1694 0 24.9471C0 38.7248 11.1695 49.893 24.9471 49.893C38.7248 49.893 49.893 38.7248 49.893 24.9471C49.893 11.1694 38.7248 0 24.9471 0Z' fill='white'/%3E%3C/svg%3E%0A");

				@include media(920){
					right: 20px;
				}
			}

			&:hover {
				opacity: .5;
			}

			&.slick-disabled {
				opacity: 0;
			}
		}
	}
}


.list-post {
	.item-post {
		
		@include media(920){
			margin-bottom: 60px;
		}

		.img-post {
			width: 100%;

			img {
				display: block;
				width: 100%;
			}
		}

		h3 {
			a {
				font-family: $font-family;
				font-size: 24px;
				line-height: 30px;
				color: $cor2;

				@include media(920){
					line-height: 28px;
					display: block;
					margin-top: 15px;
				}
			}
		}

		.legenda-post {
			a, strong {
				font-size: 16px;
				line-height: 22px;
				color: #505059;
			}

			a {
				&:hover {
					color: $cor2;
				}
			}
		}
	}
}

// social
#st-1 {
	display: flex!important;
	justify-content: center!important;

	.st-btn {
		width: 48px;
		height: 48px !important;
		line-height: 48px !important;
		display: flex !important;
		align-items: center !important;
		justify-content: center;
		padding: 0 !important;
		border-radius: 50% !important;
		background-color: $cor1!important;
		margin: 0 20px;

		&:hover {
			top: 0!important;
			opacity: 1!important;
			background-color: $cor2!important;
		}

		img {
			top: 0!important;
			height: auto!important;
			width: 30px!important;
		}
	}
}

.single-post  {
	#st-1 {	
		.st-btn {
			background-color: $cor2!important;
	
			&:hover {
				background-color: $cor1!important;
			}
		}
	}	
}

.st-sticky-share-buttons.st-left {
	display: none!important;
}