
body {
	overflow-x: hidden;
	font-size: 100%;
	font-family: $font-family;
	color: $cor-txt;

	&:not(.home) {
		padding-top: 142px;
	}
}

.container {
	max-width: $width; 
	width: 100%;
	height: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing;
	@include clear;
}

.box-section {
	width: 100%;
	position: relative;
	padding: $padding-section 0;
	@include box-sizing;
	@include clear;

	&.bg-meio {
		&:before {
			content: '';
			background-color: #ffffff;
			width: 100%;
			height: 40%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
		}
	}
}

.content-txt {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 0 80px;
	@include box-sizing;

	@include media(1280){
		padding: 0 40px;
	}

	@include media(1080){
		padding: 0;
	}

	a:not(.btn) {
		text-decoration: underline;
	}

	p {
		padding-bottom: 30px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		color: $cor-txt;
	}

	h2 {
		font-size: 3rem;
		line-height: 3rem + .5rem;
	}

	h3 {

	}

	.wp-block-image {
		img	{
			width: 75%;
			padding-right: 40px;
			height: auto;
			@include box-sizing;
		}

		figcaption {
			margin: 50px 0;
		}
	}
}