.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid $cor-txt;
	background-color: $cor-txt;
	color: #ffffff;
	border-radius: 10px;
	padding: 0 30px;
	height: 61px;
	line-height: normal;
	font-size: 1.5rem;
	margin-right: auto;
	@include box-sizing;
	@include animacao;

	&:hover {
		text-decoration: none;
	}

	&:disabled {
		cursor: default;
		background-color: $cor-border!important;
		color: rgba($cor-border, .5)!important;
		border-color: $cor-border!important;
	}

	&.btn-full {
		width: 100%; 
	}

	&.veja-mais {
		width: 200px;
		margin: 0 auto;
	}
}