.header {
	top: 0px;
	right: 0px;
	width: 100%;
	position: fixed;
	z-index: 9999;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	@include animacao;

	.logo {
		a {
			font-size: 4.25rem;
			line-height: 4.25rem + .5rem;
			color: $cor1;
			font-weight: $bold;
		}
	}

	&.scroll {
		.nav-principal {
			//background-color: #ffffff;

			.logo {
				a {
					font-size: 2rem;
				}
			}
		}
	}
}

.home {
	.header {
		background-color: transparent;
		box-shadow: none;
		padding-top: 25px;

		&.scroll {
			padding-top: 0;
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
			background-color: #ffffff;
		}
	}
}