body * {
	color: $cor-txt;
	font-weight: $regular;
	font-size: $font-size;
	line-height: $font-size+.5rem;
}

strong, b {
	font-weight: $bold;
}

h1, h2, h1 span {
	font-size: 5.625rem;
	line-height: 5.625rem + .5rem;
	color: $cor1;
	font-weight: $bold;

	a {

	}
}

h2 {

}

h3 {
	font-size: 2.7rem;
	line-height: 2.7rem + .5rem;
	font-weight: $bold;
}

p {
	display: block;
	font-weight: $light;

	&.text-subtitulo {
		font-size: 2.5rem;
		line-height: 3rem;
		margin: 20px auto 0;
		max-width: 80%;
	}

	&.destaque {
		max-width: 600px;
		margin-top: 0;
	}
}

a {
	text-decoration: none;
	@include animacao;

	&.underline {
		text-decoration: underline;
	}

	&.inline {
		&:hover {
			text-decoration: underline;
		}	
	}
}

img {
	&.img-block{
		display: block;
		max-width: 100%;
		width: 100%;
	}
}